package tests

import (
	"testing"

	"[[.Engine]]/ui/tester"

	"[[.Module]]/assets"
	"[[.Module]]/internal/app"
)

func TestClick(t *testing.T) {
	tt := tester.New(app.New(), 720, 480, tester.WithResources("", assets.FS))
	if err := tt.TapText("Click me"); err != nil {
		t.Fatal(err)
	}
	tt.Pump()
	if _, ok := tt.Find("Clicked once"); !ok {
		t.Fatalf("got %v", tt.Texts())
	}
}
