{
  "name": [[printf "%q" .Title]],
  "id": "[[.ID]]",
  "version": "0.1.0",
  "executable": "[[.Exe]]",
  "icon": "assets/icon.png",
  "copyright": "",
  "category": "public.app-category.developer-tools"
}
